footer
  .container.text-center
    //- h4
    //-   | Hệ thống mới được cập nhật lúc 15h00 28/08/2018.
    //-   br
    //-   | Thông tin chi tiết về đợt cập nhật tại 
    //-   a(href='https://ư.facebook.com/groups/374100236458220/permalink/382931805575063/', target='_blank') đây
    h6
      | Có thắc mắc cần giải đáp? Hãy tham gia 
      a(href='https://www.facebook.com/groups/374100236458220/', target='_blank') nhóm Facebook
      |  của các cộng tác viên.
    p © 2018 InfoRe Inc., All Rights Reserved
    //- ul.float-right.list-inline
    //-   li.list-inline-item
    //-     a(href='https://github.com/sahat/hackathon-starter') GitHub Project
    //-   li.list-inline-item
    //-     a(href='https://github.com/sahat/hackathon-starter/issues') Issues
