extends ../layout

block content
  if userType == 'Trial'
    div
    | Bạn đang thực hiện quá trình thử giọng cho hệ thống
    br
    | Chúng tôi sẽ thu thập 10 câu
    br
    | Chúc bạn may mắn
    hr
  span Bấm nút để lấy câu mới
  form(action='/sentence/assign', method='POST')
    input(type='hidden', name='_csrf', value=_csrf)
    .form-group
      button#new_sentence.btn.btn-block.btn-primary.btn-lg(type='submit' disabled)
        i.fa.fa-arrow-circle-o-down
        | Lấy câu mới

  div
    | Bạn đang thực hiện quá trình đánh giá văn bản cho hệ thống
    br
    | Chúng tôi sẽ thu thập 10 đánh giá
    br
    | Chúc bạn may mắn
    hr
  span Bấm nút để lấy câu mới
  form(action='/sentenceText/get', method='GET')
    input(type='hidden', name='_csrf', value=_csrf)
    .form-group
      button#new_sentenceText.btn.btn-block.btn-primary.btn-lg(type='submit' )
        i.fa.fa-arrow-circle-o-down
        | Lấy câu mới

  
  

