extends ../layout    
block content
 
 if sentenceText
 div Nội dung 
 h2.text-center #{sentenceText.text}
 br 
 div.row.text-center.mt-5
  div.col-md-6
   button.answer_btn.btn-block.btn-danger.btn-lg(data-textid={id} data-answer="no")   Tiêu cực
  div.col-md-6
   button.answer_btn.btn-block.btn-success.btn-lg(data-textid={id} data-answer="yes") Tích cực
 div.mt-5.d-flex.justify-content-center  
  form(action='/sentenceText/randomText', method='GET')
    input(type='hidden', name='_csrf', value=_csrf)
    .form-group
      button#new_sentenceText.btn.btn-block.btn-primary.btn-lg(type='submit' )
        i.fa.fa-arrow-circle-o-down
        | Lấy câu mới