extends ../layout    
block content
 
 if SentenceText
 div Nội dung 
 h2.text-center #{SentenceText.text}
 br 
 div.row.text-center.mt-5
  div.col-md-6
   button.answer_btn.btn-block.btn-danger.btn-lg(data-textid={id} data-answer="no")   Tiêu cực
  div.col-md-6
   button.answer_btn.btn-block.btn-success.btn-lg(data-textid={id} data-answer="yes") Tích cực
 div.mt-5.d-flex.justify-content-center  
  
      button#comeBack.btn.btn-block.btn-primary.btn-lg
        i.fa.fa-arrow-circle-o-down
        | Quay lại